.vs
[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
*.sln.docstates
Ankh.NoLoad
Debug/
Release/
*.opensdf
*.tlog
*.log
*.vsidx
*.lock
*.vs
*.idea